.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 33vh;

  .welcome {
    font-size: 48px;
    line-height: 4rem;
    margin-bottom: 20px;
  }

  a {
    font-size: 2rem;
  }
}
